
body {
    background-image: url(libro6.jpg);
    background-position: 100% 0%;
    color:#fff;
    
}

modal {
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: all .5s;
}

.navbar {
font-size: 20px;

}

.form-control {
	background-color: #FFFFFF;
        border: 1px solid #0291DD;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
        color: black; 
	font-size: 20px;
        
}